/*!
Theme Name: sparkDEMAND Agency
Theme URI: https://sparkdemand.io
Version: 1.0
Description: A custom child theme of Divi, this is built for marketing agencies, freelancers, designers, creatives, and small businesses.
Author: sparkDEMAND, LLC.
Author URI: https://sparkdemand.io
Template: Divi
Tags: responsive-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, featured-images, full-width-template, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready
License: GNU General Public License v2
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* === imports === */
@import "../Divi/style.css";

/*
* Media Queries
*/
@mixin for-phone-only {
  @media only screen and (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-portait-only {
  @media only screen and (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media only screen and (min-width: 900px) {
    @content;
  }
}

@mixin for-tablet-landscape-down {
  @media only screen and (max-width: 900px) {
    @content;
  }
}

@mixin for-tablet-landscape-only {
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-down {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media only screen and (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

/** Retina Display **/
@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

/* ===========================================================================
======================== Theme Customization Begin ============================
============================================================================ */

/* === Floating Dot Navigation === */
ul.et_pb_side_nav {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 50%;
  right: 0;
  width: 40px;
  padding: 10px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);

  &.et-visible {
    opacity: 1;
    -webkit-animation: fadeInRight 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeInRight 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeInRight 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeInRight 1.5s 1 cubic-bezier(0.77, 0, 0.175, 1);
  }

  .side_nav_item a {
    width: 10px;
    height: 10px;
    margin-right: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    &.active,
    &:hover {
      border: 2px solid #ff6701;
      transition: background-color 0.6s ease;
    }
  }
}

/* hide dot navigation on phones and tablets */
@include for-tablet-landscape-down {
  ul.et_pb_side_nav.et-visible {
    display: none;
  }
}

/* === End Floating Dot Navigation === */

/* === Style WP-PageNavi Pagination === */

/* Center the pagination */
.wp-pagenavi {
  text-align: center;

  /* Add a border */
  :last-child,
  a,
  span {
    border: 1px solid #bbb !important;
    padding: 6px 12px;
    margin: 0;
  }

  a,
  span {
    border-right: none !important;
  }

  /* Style the default text */
  a,
  span {
    font-weight: bold !important;
    color: #999 !important;
  }

  /* Style the current / hovered page link */
  a:hover,
  span.current {
    color: #666 !important;
    background-color: #ddd !important;
  }

  /* Style the page count text */
  :first-child {
    color: #666 !important;
  }

  /* Add text to the "next" link */
  .nextpostslink::before {
    content: "Next ";
  }

  .previouspostslink::after {
    content: " Prev";
  }
}

/* === End Style WP-PageNavi Pagination === */

/* === Mansonory styles for archive pages === */
.archive #left-area,
.search #left-area {
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-gap: 60px;
  column-gap: 60px;
}

.archive .et_pb_post > a,
.search .et_pb_post > a {
  margin: -20px -20px 10px;
  display: block;
}

.archive #left-area .et_pb_post,
.search #left-area .et_pb_post {
  overflow: hidden;

  /* fix for Firefox */
  page-break-inside: avoid;
  break-inside: avoid-column;
  width: 100%;
  padding: 19px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  word-wrap: break-word;
  display: inline-block;
}

.archive #left-area .et_pb_post h2,
.search #left-area .et_pb_post h2 {
  font-size: 18px;
}

.archive #left-area .et_pb_post {
  &.format-audio,
  &.format-link,
  &.format-quote {
    padding: 0;
  }
}

.search #left-area .et_pb_post {
  &.format-audio,
  &.format-link,
  &.format-quote {
    padding: 0;
  }
}

.archive .et_pb_post {
  .et_audio_content,
  .et_main_video_container,
  .et_pb_image_container,
  .et_pb_slider {
    margin: -20px -20px 10px;
  }
}

.search .et_pb_post {
  .et_audio_content,
  .et_main_video_container,
  .et_pb_image_container,
  .et_pb_slider {
    margin: -20px -20px 10px;
  }
}

.archive .et_pb_post {
  &.format-audio .et_audio_content {
    margin: 0 -38px;
  }

  .et_pb_slider .et_pb_slide {
    min-height: 180px;
  }
}

.search .et_pb_post .et_pb_slider .et_pb_slide {
  min-height: 180px;
}

.archive .pagination,
.search .pagination {
  padding: 20px 0;
}

/** Media Queries **/
@include for-tablet-landscape-down {
  .archive #left-area,
  .search #left-area {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 60px;
    column-gap: 60px;
  }
}

@include for-phone-only {
  .archive #left-area,
  .search #left-area {
    -moz-column-count: 1;
    column-count: 1;
  }

  .archive .et_pb_post.format-audio .et_audio_content,
  .search .et_pb_post.format-audio .et_audio_content {
    margin: 0;
  }

  .archive #left-area .et_pb_post.format-audio .et_audio_container .mejs-controls {
    .mejs-time-rail .mejs-time-total,
    div.mejs-time-rail {
      min-width: 300px !important;
      width: 300px !important;
    }
  }

  .search #left-area .et_pb_post.format-audio .et_audio_container .mejs-controls {
    .mejs-time-rail .mejs-time-total,
    div.mejs-time-rail {
      min-width: 300px !important;
      width: 300px !important;
    }
  }
}

/* End Mansonory styles for archive pages */

/* =========================================
==== Individual Styles for Custom CSS ======
========================================= */

/* === Widget Title Seperator === */
.widgettitle {
  border-bottom: solid 2px #ff6701;
  margin-bottom: 25px;
}

/* End Widget Title Seperator */

/* === Shiny Button Effects === */
.et_pb_button.shiny_button {
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  &:hover {
    box-shadow: 0 0 30px 5px rgba(255, 103, 1, 0.5);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    &::before {
      -webkit-animation: shine 0.5s 0s linear;
      -moz-animation: shine 0.5s 0s linear;
      animation: shine 0.5s 0s linear;
    }
  }

  &:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 60px 20px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  &::after {
    line-height: inherit !important;
  }
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

/* End shiny hover effect */

/* === Diagonal Shadow Divider Effect === */
#et-main-area {
  overflow: hidden;
}

.diagonal-shadow {
  z-index: 1;
  padding-top: 6em;
  background: #2072a7;

  &::after,
  &::before {
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    position: absolute;
    content: "";
    pointer-events: none;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  &::before {
    height: 50%;
    background: #535353;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
  }
}

/* End Diagonal Shadow Divider Effect === */

/* === Contact Form Full-Width Buttom */
.et_contact_bottom_container {
  width: 100%;
}

.et_pb_contact_form_container.et_pb_contact_form_container .et_contact_bottom_container .et_pb_contact_submit.et_pb_button {
  width: 97%;
}

/* End Contact Form Full-Width Buttom */

/* =====================================
========= Button Animations ============
========================================
===================================== */

/* === "Rotate" Icon Class === */
.rotate .et-pb-icon,
.scale .et-pb-icon,
.shake .et-pb-icon {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.rotate .et-pb-icon:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.shake .et-pb-icon:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.scale .et-pb-icon:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* End "Rotate" Icon Class */

/* === "Pulse" CTA Class === */
.pulse .et_pb_button {
  animation-name: pulse;
  animation-duration: 5000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &:hover {
    animation: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.08);
  }

  50% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

/* End "Pulse" CTA Class */

/* === "Lift" CTA Class === */
.lift .et_pb_button:hover {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
  margin-top: -5px;
  margin-bottom: 5px !important;
}

/* End "Lift" CTA Class */

/* === "Rotate-Icon" Class === */
.rotate-icon .et_pb_button:hover::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* End "Rotate-Icon" Class */

/* === "Tilt" Image Class === */
.tilt.et_pb_image {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: 1px solid #fff;

  &:hover {
    -moz-transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
    transform: rotate(5deg) scale(1.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.43), 0 3px 10px rgba(0, 0, 0, 0.36);
    border: 1px solid #fff;
  }
}

/* End "Tilt" Image Class */

/* === "Straight" Image Class === */
.straight.et_pb_image {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -moz-transform: rotate(-5deg) scale(0.8);
  -webkit-transform: rotate(-5deg) scale(0.8);
  -o-transform: rotate(-5deg) scale(0.8);
  transform: rotate(-5deg) scale(0.8);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.43), 0 3px 10px rgba(0, 0, 0, 0.36);
  border: 1px solid #fff;

  &:hover {
    -moz-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    border: 1px solid #fff;
    box-shadow: none;
  }
}

/* End "Straight" Image Class */

/* === "Border-Left" Contact Form Class === */
.border-left .et_pb_contact p {
  input,
  textarea {
    height: 60px;
    border-left: 4px solid #ddd;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    &:focus,
    &:hover {
      border-left: 8px solid #fff;
      font-size: 16px;
    }
  }
}

/* End "Border-left" Contact Form Class */

/* ==============================================
=============== Style Header ====================
============================================== */

/*** style the menu button ***/
.consult_button a {
  line-height: 9px;
  font-weight: 600;
  padding: 13px 16px !important;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  display: block;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  border: 1px solid #000;

  &:hover {
    color: #fff !important;
    background-color: #ff6701;
    letter-spacing: 1px;
    opacity: 1 !important;
  }
}

.et-fixed-header {
  #top-menu .consult_button a {
    color: #fff !important;
    background-color: #000;
    box-shadow: 0 5px 20px #d6dee4;
    -moz-box-shadow: 0 5px 20px #d6dee4;
    -webkit-box-shadow: 0 5px 20px #d6dee4;
    border: 1px solid #000;

    &:hover {
      background-color: #ff6701;
      border: 2px solid #ff6701;
      letter-spacing: 1px;
      box-shadow: 0 5px 20px #aab9c3;
      -moz-box-shadow: 0 5px 20px #aab9c3;
      -webkit-box-shadow: 0 5px 20px #aab9c3;
    }
  }

  &.et_highlight_nav #top-menu .consult_button a {
    font-size: 16px;
    background-color: #ff6701;
    border: 2px double #000;
    animation: highlight-nav 0.8s ease;
    -webkit-animation: highlight-nav 0.8s ease;
  }
}

#main-header.et-fixed-header.et_highlight_nav #top-menu .consult_button a:hover {
  letter-spacing: 1px;
  background-color: #000;
  border: 2px solid #ff6701;
  box-shadow: 0 5px 20px #aab9c3;
  -moz-box-shadow: 0 5px 20px #aab9c3;
  -webkit-box-shadow: 0 5px 20px #aab9c3;
}

/* === Change cursor events for tel: on desktop === */
@include for-desktop-up {
  a[href*="tel:"] {
    pointer-events: none;
  }
}

/* === Active Link Effects === */
#top-menu {
  .current-menu-item a::before,
  .current_page_item a::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
  }

  li {
    a {
      &::before {
        content: "";
        position: absolute;
        z-index: -2;
        left: 0;
        right: 100%;
        bottom: 50%;

        /*** COLOR OF THE LINE ***/
        background: #ff6701;
        height: 3px;

        /*** THICKNESS OF THE LINE ***/
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }

      &:hover {
        opacity: 1 !important;

        &::before {
          right: 0;
        }
      }
    }

    li a::before {
      bottom: 10%;
    }
  }
}

/*** remove shadow on main header ***/
#main-header {
  box-shadow: none;
}

/*** add shadow to fixed header ***/
@include for-tablet-landscape-up {
  #main-header.et-fixed-header {
    box-shadow: 0 0 30px rgba(7, 51, 84, 0.17) !important;
    -webkit-box-shadow: 0 0 30px rgba(7, 51, 84, 0.17) !important;
    -moz-box-shadow: 0 0 30px rgba(7, 51, 84, 0.17) !important;
  }
}

/*** adjust padding on menu ***/
.et_header_style_left .et-fixed-header #et-top-navigation nav > ul > li > a {
  padding-bottom: 23px;
}

#top-menu li {
  padding: 0 10px !important;
}

.et_header_style_left {
  #et-top-navigation {
    padding-bottom: 20px;
  }

  .et-fixed-header #et-top-navigation {
    padding-bottom: 10px;
  }
}

@-webkit-keyframes highlight-nav {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes highlight-nav {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*** style the mobile menu links and button ***/
@include for-tablet-landscape-down {
  .et_mobile_menu li {
    text-align: center;

    a {
      border-bottom: none;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .consult_button a {
    border-bottom: 2px solid #ff6701 !important;
  }
}

/* ==============================================
=============== End Style Header ================
============================================== */

/* ==============================================
=============== Style Footer ====================
============================================== */

/* === Social for custom footer === */
.footer_custom.et_pb_section {
  padding: 0 !important;
}

/* === Row Widget Custom === */
.footer-widget .fwidget {
  min-width: 100% !important;
}

#footer-widgets {
  padding: 3% 0 0 !important;

  .footer-widget li {
    padding-left: 0 !important;

    &::before {
      content: none !important;
    }
  }
}

/* === Footer Layout === */
#main-footer {
  background-color: transparent !important;

  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.et_pb_gutters3 {
  &.et_pb_footer_columns1 .footer-widget .fwidget,
  .footer-widget {
    margin-bottom: 0;
  }
}

@include for-phone-only {
  #footer-widgets .footer-widget .fwidget {
    margin-bottom: 0 !important;
  }
}

@include for-tablet-landscape-down {
  .footer-widget:nth-child(n) {
    width: 100% !important;
    margin: 0 !important;
  }
}

@include for-phone-only {
  #footer-widgets .footer-widget:nth-child(n),
  .footer-widget .fwidget {
    margin-bottom: 0 !important;
  }
}

/* === Social Center for custom footer === */
.et_pb_social_media_follow li {
  float: none !important;
  display: inline-block !important;
  margin-bottom: 0 !important;
}

ul.et_pb_social_media_follow {
  text-align: center !important;
}

.et_pb_social_media_follow li a.icon {
  width: 45px;
  height: 45px;
  padding: 0;

  &::before {
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
  }
}

@include for-tablet-landscape-down {
  .footer_custom_3 .et_pb_text {
    text-align: center !important;
  }
}

/* === Footer Bottom Bar Not Visible === */
#footer-bottom {
  display: none !important;
}

/* ==============================================
=============== End Style Footer ================
============================================== */
